@font-face {
  font-family: 'futura';
  src: url(../src/assets/font/Futura.ttc);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Styles généraux */
body {
  font-family: 'futura'; 
  margin: 0;
  min-width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, #7CBCFF 0%, #FFF 15.84%, #FFF 27.46%, #7CC9FF 44.26%, #FFF 93.16%);
}

.main-container {
  margin: 0 50px;
}

h1 {
  display: flex;
  width: 690px;
  flex-direction: column;
  justify-content: center;
  color: #D68F07;
  font-size: 50px;
  font-family: 'Futura';
  font-weight: 700;
  line-height: 66.45px;
}

h2 {
  width: 467px;
  height: 48px;
  left: 122px;
  top: 1306px;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  color: #000000;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

h3 {
  color: #000;
  font-size: 20px;
  font-family: 'Futura';
  margin: 0 0 0 39px;
}

h4 {
  height: 48px;
  left: 122px;
  top: 1306px;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  color: #000;
  display: flex;
  justify-content: center;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  
}